.follow {
  margin-bottom: 50px;

  @media (max-width: $tablet-breakpoint) {
    margin-bottom: 33px;
  }

  @media (max-width: $mobile-breakpoint) {
    margin-bottom: 75px;
  }
}

.follow__wrapper {
  max-width: 1190px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;

  @media (min-width: $min-desktop-breakpoint) and (max-width: $desktop-breakpoint) {
    max-width: 1004px;
    padding: 0 20px;
  }

  @media (max-width: $tablet-breakpoint) {
    max-width: 687px;
    padding: 0;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 290px;
  }
}

.follow__header {
  margin-bottom: 66px;

  @media (max-width: $mobile-breakpoint) {
    margin-bottom: 50px;
  }
}

.follow__header h2 {
  margin-bottom: 30px;

  @media (max-width: $tablet-breakpoint) {
    margin-bottom: 20px;
  }
}

.follow__header a {
  display: block;
  font-family: $main-text-font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: $main-text-color;
  text-decoration: underline;
  text-decoration-color: #a87b62;
  text-underline-position: under;
  width: fit-content;
  margin: 0 auto;
}

.follow__content {
  display: grid;
  row-gap: 34px;
  column-gap: 27px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  @media (min-width: $min-desktop-breakpoint) and (max-width: $desktop-breakpoint) {
    row-gap: 8px;
    column-gap: 17px;
  }

  @media (max-width: $tablet-breakpoint) {
    row-gap: 20px;
    column-gap: 18px;
  }

  @media (max-width: $mobile-breakpoint) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 38% 25% 25%;
    row-gap: 25px;
    column-gap: 24px;
  }
}

.follow__content-one {
  width: 230px;
  height: 230px;

  @media (min-width: $min-desktop-breakpoint) and (max-width: $desktop-breakpoint) {
    width: 187px;
  }

  @media (max-width: $tablet-breakpoint) {
    width: 133px;
    height: 133px;
  }
}

.follow__content-two {
  width: 230px;
  height: 150px;
  grid-row-start: 2;
  grid-row-end: 2;

  @media (min-width: $min-desktop-breakpoint) and (max-width: $desktop-breakpoint) {
    width: 187px;
  }

  @media (max-width: $tablet-breakpoint) {
    width: 133px;
    height: 87px;
  }
}

.follow__content-three {
  width: 399px;
  height: 412px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: -1;

  @media (min-width: $min-desktop-breakpoint) and (max-width: $desktop-breakpoint) {
    width: 349px;
  }

  @media (max-width: $tablet-breakpoint) {
    width: 231px;
    height: 240px;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 133px;

    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: -2;

    img {
      height: 100%;
    }
  }
}

.follow__content-four {
  width: 230px;
  height: 230px;
  grid-column-start: 3;
  grid-column-end: 4;

  @media (min-width: $min-desktop-breakpoint) and (max-width: $desktop-breakpoint) {
    width: 187px;
  }

  @media (max-width: $tablet-breakpoint) {
    width: 133px;
    height: 133px;
  }

  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}

.follow__content-five {
  width: 230px;
  height: 150px;
  grid-column-start: 3;
  grid-column-end: 4;

  @media (min-width: $min-desktop-breakpoint) and (max-width: $desktop-breakpoint) {
    width: 187px;
  }

  @media (max-width: $tablet-breakpoint) {
    width: 133px;
    height: 87px;
  }

  @media (max-width: $mobile-breakpoint) {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
  }
}

.follow__content-six {
  width: 230px;
  height: 230px;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;

  @media (min-width: $min-desktop-breakpoint) and (max-width: $desktop-breakpoint) {
    width: 187px;
  }

  @media (max-width: $tablet-breakpoint) {
    width: 133px;
    height: 133px;
  }

  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}

.follow__content-seven {
  width: 230px;
  height: 150px;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 2;

  @media (min-width: $min-desktop-breakpoint) and (max-width: $desktop-breakpoint) {
    width: 187px;
  }

  @media (max-width: $tablet-breakpoint) {
    width: 133px;
    height: 87px;
  }

  @media (max-width: $mobile-breakpoint) {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
  }
}
