.footer {
  width: 1190px;
  padding: 0 10px;
  max-width: 100%;
  margin: 0 auto;

  @media (min-width: $min-desktop-breakpoint) and (max-width: $desktop-breakpoint) {
    width: 1004px;
  }

  @media (max-width: $tablet-breakpoint) {
    width: 748px;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 100%;
    padding: 0 15px;
  }
}

.footer__wrapper {
  display: flex;
  padding-top: 90px;
  padding-bottom: 50px;

  @media (max-width: $tablet-breakpoint) {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 49px;
  }
}

.footer__spam {
  width: 500px;

  @media (min-width: $min-desktop-breakpoint) and (max-width: $desktop-breakpoint) {
    width: 300px;
    padding-left: 10px;
  }

  @media (max-width: $tablet-breakpoint) {
    width: 100%;
    padding-left: 33px;
    padding-right: 135px;
    padding-bottom: 38px;
  }

  @media (max-width: $mobile-breakpoint) {
    padding-left: 0;
    padding-right: 0;
  }
}

.footer__spam-intro {
  padding-bottom: 44px;

  @media (max-width: $mobile-breakpoint) {
    padding-bottom: 42px;
  }
}

.footer__spam-intro h2 {
  font-family: $main-header-font;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: 0.02em;
  margin: 0;
  padding-bottom: 10px;

  @media (max-width: $mobile-breakpoint) {
    padding-right: 45px;
    padding-bottom: 17px;
  }
}

.footer__spam-intro p {
  font-family: $main-text-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: #9b9997;
  margin: 0;

  @media (max-width: $mobile-breakpoint) {
    padding-right: 35px;
  }
}

.footer__spam-feedback {
  position: relative;
}

.footer__spam-feedback input {
  border: 0 solid transparent;
  border-bottom: 1px solid #ffffff;
  outline: none;
  font-family: $main-text-font;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #9b9997;
  background-color: inherit;
  width: 100%;
  padding-bottom: 8px;
}

.footer__spam-feedback a {
  font-family: $main-text-font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;

  position: absolute;
  top: 0;
  right: 42px;

  &:hover {
    color: #9b9997;
  }

  &:active {
    color: #ffffff;
  }

  &::after {
    position: absolute;
    content: "";
    top: 5px;
    right: -42px;
    width: 29px;
    height: 9px;
    background-image: url("../img/sign-up.png");
  }
}

.footer__items-wrapper {
  display: flex;

  @media (max-width: $mobile-breakpoint) {
    flex-direction: column;
  }
}

.footer__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 92px;
  padding-top: 9px;

  @media (min-width: $min-desktop-breakpoint) and (max-width: $desktop-breakpoint) {
    padding-left: 60px;
  }

  @media (max-width: $tablet-breakpoint) {
    padding-left: 33px;
  }

  @media (max-width: $mobile-breakpoint) {
    padding-left: 0;
    flex-direction: column;
  }
}

.footer__items li {
  margin-bottom: 22px;
}

.footer__items-right {
  padding-left: 71px;

  @media (max-width: $tablet-breakpoint) {
    padding-left: 86px;
  }

  @media (max-width: $mobile-breakpoint) {
    padding-left: 0;
    padding-top: 20px;
  }
}

.footer__items a,
.footer__social a {
  display: block;
  font-family: $main-text-font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;

  &:hover {
    color: #9b9997;
  }

  &:active {
    color: #ffffff;
  }
}

.footer__social {
  padding-top: 8px;
  padding-left: 125px;

  @media (min-width: $min-desktop-breakpoint) and (max-width: $desktop-breakpoint) {
    padding-left: 120px;
  }

  @media (max-width: $tablet-breakpoint) {
    padding-left: 106px;
  }

  @media (max-width: $mobile-breakpoint) {
    padding-left: 0;
  }
}

.footer__social ul {
  padding-left: 10px;

  @media (max-width: $mobile-breakpoint) {
    padding-left: 0;
    display: flex;
  }
}

.footer__social li {
  margin-bottom: 22px;
}

.footer__social span {
  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}

.footer__social-fb a {
  position: relative;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 1;
  }

  &::before {
    position: absolute;
    content: "";
    top: 1px;
    left: -24px;
    width: 8px;
    height: 15px;
    background-image: url("../img/fb.svg");
    background-repeat: no-repeat;

    @media (max-width: $mobile-breakpoint) {
      background-image: url("../img/fb-mobile.svg");
      width: 12px;
      height: 21px;
      left: 3px;
      top: 15px;
    }
  }
}

.footer__social-inst a {
  position: relative;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 1;
  }

  &::before {
    position: absolute;
    content: "";
    top: 2px;
    left: -29px;
    width: 15px;
    height: 15px;
    background-image: url("../img/inst.svg");
    background-repeat: no-repeat;

    @media (max-width: $mobile-breakpoint) {
      background-image: url("../img/inst-mobile.svg");
      width: 20px;
      height: 21px;
      left: 45px;
      top: 16px;
    }
  }
}

.footer__social-print a {
  position: relative;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 1;
  }

  &::before {
    position: absolute;
    content: "";
    top: 2px;
    left: -29px;
    width: 15px;
    height: 15px;
    background-image: url("../img/print.svg");
    background-repeat: no-repeat;

    @media (max-width: $mobile-breakpoint) {
      background-image: url("../img/print-mobile.svg");
      width: 20px;
      height: 21px;
      left: 95px;
      top: 16px;
    }
  }
}

.footer__social-twit a {
  position: relative;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 1;
  }

  &::before {
    position: absolute;
    content: "";
    top: 3px;
    left: -29px;
    width: 15px;
    height: 13px;
    background-image: url("../img/twit.svg");
    background-repeat: no-repeat;

    @media (max-width: $mobile-breakpoint) {
      background-image: url("../img/twit-mobile.svg");
      width: 20px;
      height: 18px;
      left: 146px;
      top: 18px;
    }
  }
}
