.modal-login {
  display: none;
  z-index: 5;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.2);
}

.modal-login__show {
  display: block;
}

.modal-login__wrapper {
  width: 100%;
  height: 100%;
}

.modal-login__box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 430px;
  min-height: 586px;
  margin: 0 auto;
  top: 8%;
  padding: 0 40px;
  background-color: #f0eae4;
  box-shadow: 0 5px 32px rgba(226, 221, 215, 0.24);

  background-image: url("../img/login-img.jpg");
  background-repeat: no-repeat;
  background-position: top;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/login-img@2x.jpg");
  }

  @media (max-width: $mobile-breakpoint) {
    width: 270px;
    min-height: 470px;
    padding: 0 10px;

    background-size: 270px;
  }
}

.modal-login__box h2,
.modal-login--nojs h1 {
  font-family: $main-header-font;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
  color: $main-text-color;
  padding-top: 187px;
  padding-bottom: 32px;

  @media (max-width: $mobile-breakpoint) {
    font-size: 24px;
    padding-top: 125px;
    padding-bottom: 28px;
  }
}

.modal-login__box form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  padding: 0 5px;
}

.modal-login__box form label {
  margin-bottom: 40px;

  @media (max-width: $mobile-breakpoint) {
    margin-bottom: 30px;
  }
}

.modal-login__box form input {
  border: none;
  border-bottom: 1px solid #1d1613;
  background-color: transparent;
  width: 100%;
  padding-bottom: 8px;

  &::placeholder {
    font-family: $main-text-font;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #9b9997;
  }
}

.modal-login__box form a {
  position: absolute;
  bottom: 113px;
  right: 6px;
  display: block;
  font-family: $main-text-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #9b9997;

  @media (max-width: $mobile-breakpoint) {
    bottom: 100px;
  }
}

.modal-login__button {
  width: 340px;
  min-height: 68px;
  background-color: #a87b62;
  border: 1px solid #a87b62;
  box-sizing: border-box;
  cursor: pointer;

  font-family: $main-text-font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #ffffff;
  margin-top: 29px;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 1;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 240px;
  }
}

.modal-login__sign-up {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 14px;
}

.modal-login__sign-up p {
  margin: 0;
  font-family: $main-text-font;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #9b9997;
  padding-right: 10px;
}

.modal-login__sign-up a {
  display: block;
  font-family: $main-text-font;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #1d1613;
}

.modal-login__close {
  border: 0;
  outline: 0;
  background: 0 0;
  width: 20px;
  height: 20px;
  padding: 0;
  position: absolute;
  right: 20px;
  top: 18px;
  cursor: pointer;
}

.modal-login__close::after,
.modal-login__close::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 11px;
  width: 24px;
  height: 2px;
  background-color: #1d1613;
  transform: rotate(45deg);

  @media (max-width: $mobile-breakpoint) {
    width: 16px;
  }
}

.modal-login__close::before {
  transform: rotate(-45deg);
}

.modal-login--nojs {
  display: block;
  position: static;
  background-color: transparent;
  margin-top: 50px;
  margin-bottom: 50px;
}

.modal-login--nojs .modal-login__box {
  position: static;
}

.modal-login--nojs .modal-login__close {
  display: none;
}
