@import "swiper-vars.scss";
@import "swiper-bundle.scss";
@import "normalize.scss";
@import "global.scss";
@import "variables.scss";
@import "fonts.scss";
@import "blocks/page-body.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/promo.scss";
@import "blocks/shop.scss";
@import "blocks/slider-swiper.scss";
@import "blocks/blog.scss";
@import "blocks/faq.scss";
@import "blocks/accordion.scss";
@import "blocks/follow.scss";
@import "blocks/catalog.scss";
@import "blocks/catalog-promo.scss";
@import "blocks/product-card.scss";
@import "blocks/product-collection.scss";
@import "blocks/page-footer.scss";
@import "blocks/footer.scss";
