$main-header-font: "Cormorant Garamond", "Georgia" serif;
$main-text-font: "Poppins", "Verdana", sans-serif;
$main-text-color:  #1D1613;
$footer-items-color: #ffffff;

$mobile-breakpoint: 767px;
$tablet-breakpoint: 1023px;
$desktop-breakpoint: 1024px;
